---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import thomasImage from "../assets/thomas.jpg";
import Heading from "../components/Heading.astro";
import ExperiencieTimeLine from "../components/ExperiencieTimeLine.astro";
import { PROJECTS } from "../data/projects";
import Project from "../components/Project.astro";

import TechnologyList from "../components/TechnologyList.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Github from "../components/icons/Github.astro";
import IconLink from "../components/IconLink.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col gap-8 items-center">
    <section class="flex flex-col gap-6 w-full p-8">
      <div class="text-right">
        <h1 class="text-3xl sm:text-5xl font-semibold">Thomas Sepulveda</h1>
        <Heading title="Fullstack Developer" />
      </div>
      <Image
        src={thomasImage}
        alt="Thomas Sepulveda"
        width={300}
        height={300}
        quality={100}
        class="rounded-full bg-contain self-center"
      />
    </section>

    <section class="flex flex-col gap-4">
      <Heading title="About" />
      <p class="text-xl">
        <span class="text-amber-500 font-bold">+2</span> years of experiencie. Work
        for the solutions, best practice approach, interest in the code architecture.
        Improving my software development vision.
      </p>
    </section>
    <section>
      <Heading title="Experience" />
      <ExperiencieTimeLine />
    </section>
    <section class="flex flex-col gap-4 w-full">
      <Heading title="Projects" />
      <div class="grid gap-2 w-full place-items-center">
        {PROJECTS.map((project) => <Project {...project} />)}
      </div>
    </section>
    <section class="flex flex-col gap-4 w-full">
      <Heading title="Technologies" />
      <TechnologyList />
    </section>
    <section class="w-full">
      <Heading title="Redes" />
      <div class="flex p-4 justify-around items-center w-full">
        <IconLink href="https://github.com/H4rasho">
          <Github width={50} height={50} />
        </IconLink>
        <IconLink
          href="https://www.linkedin.com/in/thomas-sep%C3%BAlveda-torres-b5b963217/"
        >
          <Linkedin />
        </IconLink>
      </div>
    </section>
  </main>
</Layout>
