---
import Experience from '../components/Experience.astro'
import Hero from '../components/Hero.astro'
import Projects from '../components/Projects.astro'
import Technologies from '../components/Technologies.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Thomas Sepúlveda - Full Stack Developer">
  <main class="max-w-2xl mx-auto px-6">
    <Hero />
    <Experience />
    <Projects />
    <Technologies />
  </main>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
