---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import thomasImage from "../assets/thomas.jpg";
import Heading from "../components/Heading.astro";
import ExperiencieTimeLine from "../components/ExperiencieTimeLine.astro";
import { PROJECTS } from "../data/projects";
import Project from "../components/Project.astro";

import TechnologyList from "../components/TechnologyList.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col gap-8 items-center">
    <section class="flex flex-col gap-6">
      <div class="text-right">
        <h1 class="text-3xl">Thomas Sepulveda</h1>
        <Heading title="Fullstack Developer" />
      </div>
      <Image
        src={thomasImage}
        alt="Thomas Sepulveda"
        width={300}
        height={300}
        quality={100}
        class="rounded-full bg-contain"
      />
    </section>
    <section class="flex flex-col gap-4">
      <Heading title="About" />
      <p class="text-xl">
        <span class="text-amber-500 font-bold">+2</span> years of experiencie. Work
        for the solutions, best practice approach, interest in the code architecture.
        Improving my software development vision.
      </p>
    </section>
    <section>
      <Heading title="Experience" />
      <ExperiencieTimeLine />
    </section>
    <section class="flex flex-col gap-4 w-full">
      <Heading title="Projects" />
      {PROJECTS.map((project) => <Project {...project} />)}
    </section>
    <section class="flex flex-col gap-4">
      <Heading title="Technologies" />
      <TechnologyList />
    </section>
    <section>
      <Heading title="Redes" />
    </section>
  </main>
</Layout>
