---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Thomas Sepúlveda - Full Stack Developer">
  <main class="max-w-2xl mx-auto px-6">
    <Hero />
    <Experience />
    <Projects />
  </main>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
