<ol class="relative border-l border-gray-200 dark:border-gray-700">
  <li class="mb-10 ml-4">
    <div
      class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
    >
    </div>
    <time class="mb-1 text-sm font-normal leading-none text-gray-400"
      >September 2021 - Present</time
    >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Full Stack Developer at <a
        href="https://belray.cl/"
        target="_blank"
        rel="noopener noreferrer">Belray-Ventec</a
      >
    </h3>
    <div
      class="flex flex-col gap-2 mb-4 text-base font-normal text-gray-500 dark:text-gray-400"
    >
      <p>
        Co-lead of the development team. Principal backend developer and cloud
        manager.
      </p>
      <p>
        Encouraged clean architecture and best practices in the team. Led the
        migration of an application Express to Nestjs. Optimized <span
          class="text-amber-500 font-bold">x10</span
        >
        cron job execution time by changing the database driver and refactoring code.
      </p>
    </div>
  </li>
</ol>
