---
import Burger from "./icons/Burger.astro";
---

<header>
  <button class="sm:hidden">
    <Burger />
  </button>
  <ul class="hidden gap-4 text-xl cursor-pointer font-semibold sm:flex">
    <li>
      <a
        class="hover:border-b-2 hover:border-amber-500 transition-colors duration-100 ease-in-out"
        href="#About">About</a
      >
    </li>
    <li>
      <a
        class="hover:border-b-2 hover:border-amber-500 transition-colors duration-100 ease-in-out"
        href="#Experiencie">Experiencie</a
      >
    </li>
    <li>
      <a
        class="hover:border-b-2 hover:border-amber-500 transition-colors duration-100 ease-in-out"
        href="#Projects">Projects</a
      >
    </li>
    <li>
      <a
        class="hover:border-b-2 hover:border-amber-500 transition-colors duration-100 ease-in-out"
        href="#Contact">Contact</a
      >
    </li>
  </ul>
</header>
