---
import { Github, Mail } from 'lucide-astro'
---

<section class="pt-32 pb-20 fade-in">
  <div class="animate-fade-in">
    <h1 class="text-4xl md:text-5xl font-light leading-tight mb-2">
      <span class="text-teal-400 font-medium">Thomas Sepúlveda</span>
    </h1>
    <h2 class="text-2xl md:text-3xl font-light text-zinc-400 mb-8">
      Full Stack Developer
    </h2>
    <p class="text-lg text-zinc-400 mb-2 leading-relaxed text-pretty">
      <span class="text-teal-400">+3</span>
      años de experiencia. Involucrado, autodidacta, apasionado por la tecnología.
      Altamente colaborativo y comprometido con la evolución de los equipos de
    </p>
    <p class="text-lg text-zinc-400 mb-8 leading-relaxed text-pretty">
      Interes en proyectos de IA y colaborar en proyectos de código abierto.
    </p>
    <div class="flex items-center gap-6 text-sm">
      <a
        href="mailto:thomas.sepulveda.it@gmail.com"
        class="flex items-center gap-2 text-zinc-400 hover:text-teal-400 transition-colors"
      >
        <Mail class="w-4 h-4" />
        thomas.sepulveda.it@gmail.com
      </a>
      <a
        href="www.github.com/h4rasho"
        rel=“noopener noreferrer”
        target="_blank"
        class="flex items-center gap-2 text-zinc-400 hover:text-teal-400 transition-colors"
      >
        <Github class="w-4 h-4" />
        GitHub
      </a>
    </div>
  </div>
</section>
