---
const { href, ...rest } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="flex flex-col gap-2 justify-center items-center cursor-pointer hover:text-amber-500 hover:scale-110 transition-all duration-300 ease-in-out"
  {...rest}
>
  <slot />
</a>
