---
import ReactIcon from "../components/icons/technology/ReactIcon.astro";
import NestIcon from "../components/icons/technology/NestIcon.astro";
import NodeIcon from "../components/icons/technology/NodeIcon.astro";
import GraphqlIcon from "../components/icons/technology/GraphqlIcon.astro";
import NextIcon from "../components/icons/technology/NextIcon.astro";
import PostgresIcon from "../components/icons/technology/PostgresIcon.astro";
import TypeScriptIcon from "../components/icons/technology/TypeScriptIcon.astro";
import Technology from "../components/Technology.astro";
---

<div class="flex gap-4 justify-center items-center flex-wrap">
  <Technology label="React"><ReactIcon /></Technology>
  <Technology label="Nest"><NestIcon /></Technology>
  <Technology label="Node"><NodeIcon /></Technology>
  <Technology label="Graphql"><GraphqlIcon /></Technology>
  <Technology label="Next"><NextIcon /></Technology>
  <Technology label="Postgres"><PostgresIcon /></Technology>
  <Technology label="TypeScript"><TypeScriptIcon /></Technology>
</div>
