---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-slate-900 text-white">
    <div class="grid place-content-center max-w-md m-auto mt-8 p-4">
      <header>
        <!-- <ul class="flex gap-4 justify-center">
          <li>
            <a href="#About">About</a>
          </li>
          <li>
            <a href="#Experiencie">Experiencie</a>
          </li>
          <li>
            <a href="#Projects">Projects</a>
          </li>
          <li>
            <a href="#Contact">Contact</a>
          </li>
        </ul> -->
      </header>
      <slot />
    </div>
  </body>
</html>
